body{
    background-color: darkblue;
    max-width: 1023px;
    margin: auto;
}


#title_img{
    width: 200px;
    height: 150px;
}

#nav{
    width: 50%;
    margin: auto;
}

#nav_table{
    background-color: lightblue;
    width: 100%;
}

.nav_a{
    color: blue;
    text-decoration: none;
}


main{
    background-color: blue;
    width: 70%;
    margin: auto;
}

main h1{
    color: aqua;
}

main p{
    color: lightblue;
    text-align: justify;
}

footer{
    width: 40%;
    margin: auto;
    background-color: blue;
    color: aqua;
}

footer  a{
    color: aqua;
}

h3{
    color: aqua;
}
#bemutato_img{
    width: 250px;
    height: auto;
}

#map_img{
    width: 100%;
}